/.idea/
/node_modules/
/bin/
/ppa/
/*.sh
tsconfig.tsbuildinfo
/*report*.json

/src/**/*.js
/src/**/*.d.ts

/scripts/**/*.js
/tests/**/*.js
/tests/**/*.d.ts

/coverage

!/docker-npm
!/src/web/frontend/lib/
!/src/web/frontend/lib/chart.min.js

/.gitlab-ci-local/

# Generated bundled templates
/src/bundled-templates.ts
/vendor/gitlab-templates/

.DS_Store

.vscode
pkg