/.idea/
/node_modules/
/bin/
/ppa/
/*.sh
tsconfig.tsbuildinfo

/src/**/*.js
/src/**/*.d.ts

/scripts/**/*.js
/tests/**/*.js
/tests/**/*.d.ts

/coverage

!/docker-npm

/.gitlab-ci-local/

.DS_Store

.vscode
pkg