.gitlab-ci-local*
artifacts/log.txt

!custom-home/.home/.gitlab-ci-local
!variable-order/.home/.gitlab-ci-local
!gitignore/.gitlab-ci-local
!component-inputs-cli/.gitlab-ci-local-inputs.yml
!component-inputs-multiple/.gitlab-ci-local-inputs.yml
!component-inputs-edge-cases/.gitlab-ci-local-inputs.yml
