---
name: build
on: push
jobs:

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install
      - name: Run ESLint
        run: npm run lint

  typescript-compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install
      - name: Run Typescipt Compiler
        run: npm run build

  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install
      - name: SSH Key
        run: ssh-keygen -t rsa -b 4096 -f ~/.ssh/id_rsa
      - name: Run tests
        run: npm run test
